- content_for :javascript do
  :javascript
    $('user_nick').focus();

- title t('.title', name: FoodsoftConfig[:name])

- if @invite.group.nil?
  = t('.group_new', foodcoop: h(FoodsoftConfig[:name])).html_safe
- else
  = t('.group_exists', group: h(@invite.group.name), foodcoop: h(FoodsoftConfig[:name])).html_safe
= t('.body', foodcoop: h(FoodsoftConfig[:name])).html_safe

= simple_form_for @user, url: accept_invitation_path do |form|
  = render partial: 'shared/user_form_fields', locals: {f: form}
  - if @invite.group.nil?
    = form.fields_for :ordergroup do |ogform|
      = ogform.input :contact_address
  .form-actions
    = submit_tag t('.submit'), class: 'btn'

